@model IEnumerable<Reply>

@{
    ViewData["Title"] = $"Post: {ViewBag.PostName}";
}


<!--Navbar-->
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link text-danger mx-2">[</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger mx-2" href="#"> @Html.ActionLink("ABC", "Thread", "Home", new {boardId = 1}) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger mx-2" href="#"> @Html.ActionLink("XYZ", "Thread", "Home", new {boardId = 2}) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger mx-2">]</a>
            </li>
        </ul>
    </div>
</nav>

<!--Showing every post's-->
<div class="container mt-3">
    <h2>Replies</h2>
    <div class="list-group">
        @foreach (var reply in Model)
        {
            <div class="list-group-item m-4">
                <div class="d-flex w-100 justify-content-between">
                    <small class="mb-1">User: @reply.UserId</small>
                    <small>@reply.ReplyDate.ToString("yyyy-MM-dd HH:mm:ss")</small>
                </div>

                @if (reply.ReplyUserId != null)
                {
                    <small class="mb-1">Reply User: @reply.UserId</small>
                }

                <p class="mb-1">@reply.Content</p>

                @if (reply.ReplyImage != null)
                {
                    <img src="~/images/@reply.ReplyImage" alt="picture" class="mx-auto d-block img-fluid" />
                }

                <button class="btn btn-primary showFormBtn">
                    Odpowiedz
                </button>

                <form class="form_add" method="post" enctype="multipart/form-data" asp-action="CreateReply" asp-controller="Home">

                    <div class="form-group">
                        <label for="Content">Content:</label>
                        <textarea name="Content" class="form-control" placeholder="Content" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="Image">Image:</label>
                        <input type="file" name="Image" class="form-control" />
                    </div>

                    <input name="ReplyUserId" type="hidden" value="@reply.UserId">

                    <input name="SubjectId" type="hidden" value="@reply.SubjectId">

                    <button type="submit" class="btn btn-primary">Reply</button>
                </form>
            </div>
        }
    </div>
</div>

<!-- Skrypt -->
@section scripts{
    <script>
        // Get button and forms
        var showFormBtns = document.querySelectorAll('.showFormBtn');
        var forms = document.querySelectorAll('.form_add');

        // event validation
        showFormBtns.forEach(function (btn, index) {
            btn.addEventListener('click', function () {
                // actual state of form
                var form = forms[index];
                var isVisible = form.style.display === 'block';

                // visibility change
                form.style.display = isVisible ? 'none' : 'block';
            });
        });
    </script>
}