@model IEnumerable<Subject>
@using SlavChanAPP.Models;



@if (Model != null) {

    var boardId = ViewBag.Board.Id;
    
    ViewData["Title"] = $"/ {ViewBag.Board.Shortcut} {ViewBag.Board.Name} /";
}


<!--Navbar-->
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link text-danger mx-2">[</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger mx-2" href="#"> @Html.ActionLink("ABC", "Thread", "Home", new {boardId = 1}) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger mx-2" href="#"> @Html.ActionLink("XYZ", "Thread", "Home", new {boardId = 2}) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger mx-2">]</a>
            </li>
        </ul>
    </div>
</nav>


<!--Create new thread-->
<div class="text-center mb-4">
    @{
        <h2>@ViewBag.Board.Name </h2>
    }
    <button class="btn btn-primary" id="showFormBtn">
        Stwórz nowy wątek
    </button>
</div>

<!--form for creating new thread-->
<div class="container text-center mt-4">
    <div class="rounded border p-4 mx-auto" id="form_add">
        <form  method="post" enctype="multipart/form-data" asp-action="CreateThread" asp-controller="Home">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="text" name="Name" class="form-control" placeholder="Name" required />
            </div>

            <div class="form-group">
                <input type="text" name="UserName" class="form-control" placeholder="User Name" required />
            </div>

            <div class="form-group">
                <textarea name="Content" class="form-control" placeholder="Content" required></textarea>
            </div>

            <div class="form-group">
                <input type="file" name="Image" class="form-control" accept=".jpg, .jpeg, .png .gif" />
            </div>

            <input type="hidden" name="BoardId" value="@ViewBag.Board.Id">

            <button type="submit" class="btn btn-primary">Create Thread</button>
        </form>
    </div>
</div>

<!--all threads-->
@if (Model != null)
{
    <div id="all" class="text-center d-flex flex-wrap justify-content-around">
        @foreach (var a in Model)
        {
            <div class="card m-3" style="width: 18rem;">

                @if (a.SubjectImage != null)
                {
                    <img src="~/images/@a.SubjectImage"  class="mx-auto d-block img-fluid" class="img-thumbnail" alt="Thumbnail image" />
                }

                <div class="card-body">
                    <h5 class="card-title"> @Html.ActionLink(@a.Name, "Post", "Home", new {SubjectId = a.Id}) </h5>
                </div>

            </div>
        }
    </div>
}


<!--Script -->
@section scripts{
    <script>
        document.getElementById('showFormBtn').addEventListener('click', function () {
            // set visibility
            var form = document.getElementById('form_add');
            if (form) {
                form.style.display = form.style.display === 'none' ? 'block' : 'none';
            }
        });
    </script>
}